entrypoint = "app.py"
modules = ["python-3.8", "nodejs-20"]

[nix]
channel = "stable-23_05"

[unitTest]
language = "python3"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[deployment]
run = ["python3.8", "app.py"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80

[auth]
pageEnabled = true
buttonEnabled = false